<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.crizen.mapper.BoardMapper">

<insert id="insertBoard">
INSERT INTO counsel_info(title_counsel,content_counsel,writer_counsel) VALUES(#{title}, #{context}, #{writer})
</insert>

<select id="readBoard" resultType="org.zerock.crizen.domain.BoardVo">
SELECT * FROM counsel_info where counsel_info = #{bno}
</select>

<select id="readBoardList" resultType="list">
SELECT * FROM counsel_info 
</select>



</mapper>